<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script type="text/javascript">

    $(document).ready(function () {
      $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let id = button.data('id'); // Extract info from data-* attributes
        console.log(id);
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this);
        modal.find('#deleteModalTitle').text("Delete User");
        modal.find('#deleteModalDescription').text("Are you sure you want to delete the user?");
        $('#deleteModalDeleteButton').button().click(function () {
          $.ajax({
            url: '/users/' + id,    //Your api url
            type: 'DELETE',   //type is any HTTP method,
            error: function (request, error) {
              console.log(arguments);
              alert(" Can't do because: " + arguments[0].responseJSON.message);
            },
            success: function () {
              location.href = "/users";
            }
          });
        });
      });
      $('a.edit').button().click(function () {
        let id = $(this).data('id');
        let role = $(this).data('role');
        $.ajax({
          url: '/users/' + id,    //Your api url
          type: 'PUT',   //type is any HTTP method,
          dataType: "json",
          data: {role: role},
          error: function (request, error) {
            console.log(arguments);
            alert(" Can't do because: " + arguments[0].responseJSON.message);
          },
          success: function () {
            location.href = "/users";
          }
        });
      });
    });
  </script>
</head>
<body>
<% include ../partials/nav %>
<div class="container-fluid">
  <div class="row">
    <% include ../partials/dashboard.nav.ejs %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
      </div>
      <div class="table-responsive">
        <table id="test" class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Google+</th>
            <th>Admin</th>
            <% if(user && user.role === 1) { %>
            <th>Buttons</th>
            <% } %>
          </tr>
          </thead>
          <tbody>
          <% for(let j = 0; j < users.length; j++) { %>
          <tr>
            <td><%= j + 1 %></td>
            <td><%= users[j].local.email %></td>
            <% if(users[j].facebook.token) { %>
            <td><span data-feather="check"></span></td>
            <% } else { %>
            <td><span data-feather="x"></span></td>
            <% } %>
            <% if(users[j].twitter.token) { %>
            <td><span data-feather="check"></span></td>
            <% } else { %>
            <td><span data-feather="x"></span></td>
            <% } %>
            <% if(users[j].google.token) { %>
            <td><span data-feather="check"></span></td>
            <% } else { %>
            <td><span data-feather="x"></span></td>
            <% } %>
            <% if(users[j].role === 1) { %>
            <td><span data-feather="check"></span></td>
            <% } else { %>
            <td><span data-feather="x"></span></td>
            <% } %>
            <% if(user && user.role === 1 && user._id.toString() !== users[j]._id.toString()) { %>
            <td>
              <a class="edit" id="editAdmin" data-toggle="tooltip" data-placement="top" title="<% if(users[j].role !== 1) { %>Give admin<% } else{ %>Remove admin<% } %>"
                 data-id="<%= users[j]._id %>" data-role="<% if(users[j].role === 1) { %>0<% } else { %>1<% } %>">
                <% if(users[j].role !== 1) { %>
                <span data-feather="thumbs-up"></span>
                <% } else{ %>
                <span data-feather="thumbs-down"></span>
                <% } %>
              </a>
              <a class="delete" id="delete" data-toggle="modal" data-target="#deleteModal"
                 data-id="<%= users[j]._id %>">
                <span data-feather="trash-2"></span>
              </a>
            </td>
            <% } else { %>
            <td>No access</td>
            <% } %>
          </tr>
          <% } %>
          </tbody>
        </table>
      </div>
      <br>
      <% if (pages > 0) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% if (current == 1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">First</a>
          </li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/users?page=1">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/users?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% } %>
          <% if (current == pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">Last</a>
          </li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/users?page=<%= pages %>">Last</a></li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </main>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="deleteModalDescription">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="deleteModalDeleteButton" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>

</body>
</html>
