<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script type="text/javascript">

    $(document).ready(function() {
      $('#editForm').on('submit', function(event){
        event.preventDefault(); //Stop default form submission
        // let formData = new FormData(currentForm);

        $.ajax({
          url: '/products/' + document.body.getAttribute('data-id'),    //Your api url
          type: 'PUT',   //type is any HTTP method,
          dataType: "json",
          data: $(this).serialize(),
          error: function (request, error) {
            console.log(arguments);
            alert(" Can't do because: " + arguments[0].responseJSON.message);
          },
          success: function () {
            alert(" Done ! ");
            location.href = "/products/1";
          }
        });
      });
    });
  </script>
</head>
<body data-id="<%= product._id %>">
<% include ../partials/nav %>
<div class="container-fluid">
  <div class="row">
    <% include ../partials/dashboard.nav.ejs %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h3><a href="/products">products</a> > <%= product.title %></h3>
      </div>
      <br>
      <form id="editForm">
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputTitle">Title</label>
            <input name="title" type="text" class="form-control" value="<%= product.title %>" id="inputTitle" placeholder="Title" required
                   minlength="5" maxlength="25">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="Description">Description</label>
            <textarea name="description" class="form-control" id="Description" rows="3" required minlength="10"
                      maxlength="100"><%= product.description %></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputPrice">Price</label>
            <input name="price" type="number" class="form-control" value="<%= product.price %>" id="inputPrice" placeholder="Price" required
                   min="1" max="25000">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputBrand">Brand</label>
            <select name="brand" id="inputBrand" class="form-control">
              <% for(var i = 0; i < brands.length; i++) { %>
              <% if (product.brand.toString() === brands[i]._id.toString()) { %>
              <option value="<%= brands[i]._id %>" selected><%= brands[i].title %></option>
              <% } else { %>
              <option value="<%= brands[i]._id %>"><%= brands[i].title %></option>
              <% } %>
              <% } %>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputType">Type</label>
            <select name="type" id="inputType" class="form-control">
              <% for(var j = 0; j < types.length; j++) { %>
              <% if (product.type.toString() === types[j]._id.toString()) { %>
              <option selected value="<%= types[j]._id %>"><%= types[j].title %></option>
              <% } else { %>
              <option value="<%= types[j]._id %>"><%= types[j].title %></option>
              <% } %>
              <% } %>
            </select>
          </div>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Edit</button>
      </form>
    </main>
  </div>
</div>

<% include ../partials/footer %>

</body>
</html>
