<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <script type="text/javascript">

    $(document).ready(function () {
      $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let id = button.data('id'); // Extract info from data-* attributes
        let title = button.data('title');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        let modal = $(this);
        modal.find('#deleteModalTitle').text("Delete " + title + "?");
        modal.find('#deleteModalDescription').text("Are you sure you want to delete the products " + title + "?");
        $('#deleteModalDeleteButton').button().click(function () {
          $.ajax({
            url: '/products/' + id,    //Your api url
            type: 'DELETE',   //type is any HTTP method,
            error: function (request, error) {
              console.log(arguments);
              alert(" Can't do because: " + arguments[0].responseJSON.message);
            },
            success: function () {
              location.href = "/products/1";
            }
          });
        });
      });

      $('#editModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget); // Button that triggered the modal
        let id = button.data('id');
        console.log(id);
        let modal = $(this);
        $.getJSON('/products/' + id, function (data) {
          console.log(data);
          // set values in modal
          modal.find('[name=title]').val(data.title);
          modal.find('[name=description]').val(data.description);
          modal.find('[name=price]').val(data.price);
          modal.find('[name=brand]').val(data.brand);
          modal.find('[name=type]').val(data.type);
          // open modal
          modal.modal('show');
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          $('#editModalEditButton').button().click(function () {
            $.ajax({
              url: '/products/' + id,    //Your api url
              type: 'PUT',   //type is any HTTP method,
              dataType: "json",
              data: $("#editForm").serialize(),
              error: function (request, error) {
                console.log(arguments);
                alert(" Can't do because: " + arguments[0].responseJSON.message);
              },
              success: function () {
                location.href = "/products?page=1";
              }
            });
          });
        });
      });

      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>
</head>
<body>
<% include ../partials/nav %>
<div class="container-fluid">
  <div class="row">
    <% include ../partials/dashboard.nav.ejs %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
      </div>
      <% if(user.role === 1) { %>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#createModal">Add
          Product
        </button>
      </div>
      <% } %>
      <div class="table-responsive">
        <table id="test" class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Price</th>
            <% if(user.role === 1) { %>
            <th>Buttons</th>
            <% } %>
          </tr>
          </thead>
          <tbody>
          <% for(let j = 0; j < products.length; j++) { %>
          <% if(user.role !== 1) { %>
          <tr class='clickable-row' data-href='/products/<%= products[j]._id %>/edit'>
            <% } else { %>
          <tr>
            <% } %>
            <td><%= j + 1 %></td>
            <td><%= products[j].title %></td>
            <td><%= products[j].description %></td>
            <td><%= products[j].brand.title %></td>
            <td><%= products[j].type.title %></td>
            <td><%= products[j].price %></td>
            <% if(user.role === 1) { %>
            <td>
              <a class="edit" id="edit" data-toggle="modal" data-target="#editModal" data-id="<%= products[j]._id %>">
                <span data-feather="edit-3"></span>
              </a>
              <a class="delete" id="delete" data-toggle="modal" data-target="#deleteModal"
                 data-id="<%= products[j]._id %>" data-title="<%= products[j].title %>">
                <span data-feather="trash-2"></span>
              </a>
            </td>
            <% } %>
          </tr>
          <% } %>
          </tbody>
        </table>
      </div>
      <% if (pages > 0) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% if (current == 1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">First</a>
          </li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/products?page=1">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/products?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled">
            <a class="page-link">...</a>
          </li>
          <% } %>
          <% } %>
          <% if (current == pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">Last</a>
          </li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/products?page=<%= pages %>">Last</a></li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </main>
  </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="createModalDescription">
        <form id="createForm" method="post" action="/products">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputTitle">Title</label>
              <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Title" required
                     minlength="5" maxlength="25">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Description">Description</label>
              <textarea name="description" class="form-control" id="Description" rows="3" required minlength="10"
                        maxlength="100"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPrice">Price</label>
              <input name="price" type="number" class="form-control" id="inputPrice" placeholder="Price" required
                     min="1" max="25000">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputBrand">Brand</label>
              <select name="brand" id="inputBrand" class="form-control" required>
                <% for(var k = 0; k < brands.length; k++) { %>
                <option value="<%= brands[k]._id %>"><%= brands[k].title %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputType">Type</label>
              <select name="type" id="inputType" class="form-control" required>
                <% for(var l = 0; l < types.length; l++) { %>
                <option value="<%= types[l]._id %>"><%= types[l].title %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class="btn btn-success" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="editModalDescription">
        <form id="editForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputTitle">Title</label>
              <input name="title" type="text" class="form-control" id="editInputTitle" placeholder="Title" required
                     minlength="5" maxlength="25">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="editInputDescription">Description</label>
              <textarea name="description" class="form-control" id="editInputDescription" rows="3" required minlength="10"
                        maxlength="100"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPrice">Price</label>
              <input name="price" type="number" class="form-control" id="editInputPrice" placeholder="Price" required
                     min="1" max="25000">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="editInputBrand">Brand</label>
              <select name="brand" id="editInputBrand" class="form-control" required>
                <% for(var d = 0; d < brands.length; d++) { %>
                <option value="<%= brands[d]._id %>"><%= brands[d].title %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="editInputType">Type</label>
              <select name="type" id="editInputType" class="form-control" required>
                <% for(var g = 0; g < types.length; g++) { %>
                <option value="<%= types[g]._id %>"><%= types[g].title %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="editModalEditButton" type="button" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="deleteModalDescription">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="deleteModalDeleteButton" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>

</body>
</html>
